.Pizzas-menu{
	padding-top: 25px;
    overflow-y: scroll;
    background-color: #e5cc87;
    text-align: center;
    margin-top: 250px;
    min-height: 100vh;
}
.Submit-votes{
	cursor: pointer;
}
.Pizzas-menu h3{
	margin:0;
}

.Select-pizza{
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.loading{
	font-size: 80px;
}

h3{
	font-size: 30px;
}

h4{
	font-size: 20px;
}

.swal-overlay {
  background-color: rgba(130, 108, 48, 0.45);
}

input{
	outline: none;
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 3px solid #826829;
    /* margin-top: 1px; */
    padding-bottom: 0px;
    font-size: 30px;
    text-align: center; 
}

form button{
	margin-top: 10px;
	background-color: #727272;
	font-size: 25px;
	width: 100%;
	bottom: 0;
	height: 50px;
	margin:0;
	border:0;
}

form button:active{
	background-color: #727272;
	border:0;
}

ul li{
	font-size: 20px;
	list-style: none;
}

a{
	font-size: 25px;
	text-decoration: none;
	width: 100%;
	background-color: #727272;
	display: inline-block;
	height: 50px;
}

a:active{
	text-decoration: none;
}