.App {
  text-align: center;
  position: fixed;
  width: 100%;
}


.App-header {
  
  background-color: #222;
  height: 250px;
  color: white; 
  font-size: 40px;
}
.App-header{

}
.App-title {
  font-size: 1.5em;
  margin-top: 0;
  padding-top: 5vh;

}

.App-intro {
  font-size: 25px;
  color: white; 
}



