.Main{
	height: 100%;
}
.App {
	text-align: center;
	/* position: fixed; */
	height: 100%;
	width: 100%;
}


.App-header {
	
	background-color: #222;
	height: 250px;
	top: 0;
	color: white;
	width: 100%;
	position: fixed;
	font-size: 40px;

}

.App-title {
	font-size: 1.5em;
	margin-top: 0;
	padding-top: 5vh;
	margin-bottom: 25px;
}

.App-intro {
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 25px;
	color: white; 
}



