.Main{
	height: 100%;
}
.App {
	text-align: center;
	height: 100%;
	width: 100%;
}


.App-header {
	z-index: 1;
	background-color: #222;
	height: 250px;
	top: 0;
	color: white;
	width: 100%;
	position: fixed;
	font-size: 40px;

}

.App-title {
	font-size: 1.5em;
	margin-top: 0;
	padding-top: 5vh;
	margin-bottom: 25px;
}

.App-intro {
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 25px;
	color: white; 
}

@media only screen and (max-width: 795px) {
	.thumbnail p{
		display: none;
	}
	.App-title{
		font-size: 1.2em;
		margin-top: -10px;
	}
	.App-header{
		height: 115px;
	}
    .App-intro {
        display: none;
    }
}



