.Pizzas-menu{
	height: 100vh;
	overflow-y: scroll;
	background-color: grey;
	text-align: center;
}

.Pizzas-menu h3{
	margin:0;
}

.Select-pizza{
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}